# see https://doc.nette.org/en/configuring

parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: WaymarkTo\UI\*\**Presenter


database:
	dsn: "pgsql:host=%db.host%;port=%db.port%;dbname=%db.name%"
	user: %db.user%
	password: %db.pass%

latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- WaymarkTo\UI\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building


di:
	export:
		parameters: no
		tags: no

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
    dir: %appDir%/../migrations # migrations base directory
    driver: pgsql               # pgsql or mysql
    dbal: nette               # nextras, nette, doctrine or dibi
    withDummyData: %debugMode%