# see https://doc.nette.org/en/configuring

parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: WaymarkTo\UI\*\**Presenter


database:
	dsn: "pgsql:host=%db.host%;port=%db.port%;dbname=%db.name%"
	user: %db.user%
	password: %db.pass%

latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- WaymarkTo\UI\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building


di:
	export:
		parameters: no
		tags: no

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
    dibi: Dibi\Bridges\Nette\DibiExtension22
    leanmapper: LeanMapper\Bridges\Nette\DI\LeanMapperExtension

migrations:
    dir: %appDir%/../migrations # migrations base directory
    driver: pgsql               # pgsql or mysql
    dbal: nette               # nextras, nette, doctrine or dibi
    withDummyData: %debugMode%

leanmapper:
    driver: pgsql
	host: ::env('DB_HOST', null)
	username: ::env('DB_USERNAME', null)
	password: ::env('DB_PASSWORD', null)
	database: ::env('DB_NAME', null)
	lazy: ::env('DB_LAZY', true)