services:
	- WaymarkTo\Core\RouterFactory::createRouter

    mapper:
        create: Inlm\Mappers\UnderScoreMapper('WaymarkTo\Model')

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
