services:
    - WaymarkTo\Core\RouterFactory::createRouter
    leanmapper.mapper:
        create: Inlm\Mappers\UnderScoreMapper('WaymarkTo\Model')
    - WaymarkTo\Model\Signpost\SignpostRepository

search:
    - in: %appDir%
      classes:
          - *Facade
          - *Factory
          - *Repository
          - *Service
